/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  overflow: hidden;
}

#showcase {
  background: rgba(74, 82, 85, 0.75);
  color: #fff;
  height: 100vh;
  position: relative;
}

#showcase::before {
  content: '';
  /* Image from Roozbeh Eslamion unsplash */
  background: url(/img/background1.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 95%;
}

#showcase h1 {
  font-size: 4rem;
}

#showcase p {
  font-size: 2.5rem;
}

/* Page animation */
#showcase h1 {
  transform: translateY(-1200px);
  animation: heading 2s forwards ease-in;
}

#showcase p {
  transform: translateY(1200px);
  animation: paragraph 2s forwards ease-in 1s;
}

/* Keyframe */
@keyframes heading {
  to {
    transform: translateY(0);
  }
}

@keyframes paragraph {
  to {
    transform: translateY(0);
  }
}

/* Footer */
#footer {
  color: #fff;
  text-align: center;
}
